@import './Variables';

.buttonContainer {
    display: flex;
    gap: 20px;
}

.delete {
    background: white;
    color: $orange;
    border: 1px solid $orange;
    box-shadow: none;
    padding: 10px 25px;
    border-radius: 4px;
    transition: .3s;
}

.addPet {
    text-decoration: none;
    background: $orange;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    transition: .3s;
    text-wrap: nowrap;
}
.addPet:hover, .delete:hover {
    transform: scale(1.05);
    cursor: pointer;
}

@media (max-width: 768px) {
    .buttonContainer {
        flex-direction: column;
    }
}