@import './Variables';

.header {
    color: $orange;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}

.link {
    text-decoration: none;
    color: $orange;
    font-size: 2em;
    padding: 10px 50px;
    display: block;
    margin-left: 50px;
}

.footer {
    text-align: center;
    padding: 10px 20px;
    color: $grey;
    left: 0;
    right: 0;
}
