@import './Variables';

.container {
    display: flex;
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap;
    margin: auto;
    padding: 60px 100px;
    width: fit-content;
}

h1 {
    color: $grey;
    font-weight: 400;
    display: inline-block;
}

.home {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.card {
    border: 1px solid lightgray;
    min-width:fit-content;
    max-width: 400px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}

.buttonContainer {
    display: flex;
    margin: auto;
    gap: 10px;
    flex-wrap: wrap;
    
}

@media (max-width: 768px) {
    .container {
        padding: 60px 10px;
        margin: auto;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card {
        width: 45%;
    }
}

@media (max-width: 500px) {
    .container {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }
}