@import './Variables';

.container {
    align-self: center;
    width: 90%;
    display: flex;
    margin: auto;
    gap: 30px;
    justify-content: flex-start;
    padding: 20px;
    flex-wrap: wrap;
}

h1 {
    font-weight: 400;
    color: $grey;
    display: inline-block;
    margin: auto;
}

.home {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}