@import './Variables';

.container {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.h1 {
    display: inline-block;
    text-align: center;
}

.button {
    margin-left: 5px;
}

.cardsContainer {
    margin: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}

.card {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 30px 10px;
    height: 450px;
    width: 300px;
    text-align: center;
    color: $grey;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
}

.date {
    margin-top: auto;
}

::-webkit-scrollbar {
    display: none;
}



@media (max-width: 768px) {
    .container {
        flex-wrap: wrap;
    }
    .h1 {
        margin: auto;
    }
}